:root {
--hero-text-color: white;
--hero-background: rgb(49, 52, 197) ;

}


body {
    background-color: white;
    text-align: center;
    margin: 0;
    padding: 0;
}

#hero-section {

    box-sizing: border-box;
    color: var(--hero-text-color);
    background-color: var(--hero-background);
    justify-content: center;
    margin: 0;
    padding: 10px;
    height: 200px;
    width: 100%;
}



#submit-btn {
    display: flex;
    align-items: center;
    border-style: none;
    width: auto;
    height: 50px;
    margin: 10px auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
